
.main-component {
  background-color: transparent;
  color: rgb(47, 47, 160);
  width: 65%;
  padding: 25px;
}

.first-section {
  display: flex;
  justify-content: space-between;
  line-height: 0.5;

  
}

.first-section > div > p {
  font-size: 12px;
}

.greetings {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.light-mode {
  width: 40px;
  height: 20px;
  background: white;
  border-radius: 50px;
}

.light-mode2 {
  width: 40px;
  height: 20px;
  background: navy;
  border-radius: 50px;
}

.dark-mode {
  width: 20px;
  height: 20px;
  background: rgb(47, 47, 160);
  border-radius: 50%;
}

.dark-mode2 {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
}